# compiled class files
*.class

# package files, archives
*.war
*.zip
*.tar.gz
*.rar
*.gz

# log files
*.log
/.metadata/*

# macOS specific meta data file
.DS_STORE

# eclipse settings
*.classpath

# Intellij settings

/BiBi/.idea/**
/BiBi/BiBi.iml
/BiBi/artifacts/**
/BiBi/classes/**

/BiBiBlackBoxTesting/.idea
/BiBiBlackBoxTesting/BiBiBlackBoxTesting.iml/**
/BiBiBlackBoxTesting/artifacts/**

/BiBiTest/.idea
/BiBiTest/BiBiTest.iml/**
/BiBiTest/artifacts/**



