# compiled class files
*.class

# package files, archives
*.properties
*.war
*.zip
*.tar.gz
*.rar
*.gz

# log files
*.log
/.metadata/*

# macOS specific meta data file
.DS_STORE

# eclipse settings
*.classpath
