<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>view/public/medium-search.xhtml</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<display-name>Restrict direct access to the templates folder.</display-name>
		<web-resource-collection>
			<web-resource-name>The templates folder.</web-resource-name>
			<url-pattern>/view/templates/*</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>

	<!-- TEMPORARY! -->
	<security-constraint>
		<display-name>Restrict direct access to the components folder.</display-name>
		<web-resource-collection>
			<web-resource-name>The components folder.</web-resource-name>
			<url-pattern>/resources/bibi/*</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>

	<resource-env-ref>
		<description>Object factory for the CDI Bean Manager.</description>
		<resource-env-ref-name>BeanManager</resource-env-ref-name>
		<resource-env-ref-type>jakarta.enterprise.inject.spi.BeanManager</resource-env-ref-type>
	</resource-env-ref>

	<context-param>
		<param-name>jakarta.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<!-- don't output comments in the rendered HTML since they are a lot, used 
		for debugging and documentation -->
	<context-param>
		<param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<error-page>
    	<error-code>404</error-code>
    	<location>/view/error/error404.xhtml</location>
	</error-page>
	
</web-app>
