:root {
	--footer-height: 7rem;
}

html, body {
	min-height: 100vh;
}

.footer {
	height: var(--footer-height);
}

.nav-link.active {
	color: var(--bs-gray);
}

.className td {
    vertical-align: top;
}
