.nav-link.active {
	color: var(--bs-gray);
}

/* <help> author: L.L. */

.header > .menu > .display-help {
	/* make the image touch the help dialog (.help) allowing the user to move their
	   cursor from the help trigger (this element) to the help dialog without it
	   disappearing */
	vertical-align: bottom;
}

.header > .menu > .help {
	/* don't display the help dialog by default */
	display: none;
	--width: 70%;
	width: var(--width);
	background: lightblue;
	position: fixed;
	top: 2em;
}

/* display the help dialog (.help) when hovering over the help trigger (.display-help) */
.header > .menu > .display-help:hover + .help {
	display: block;
}

/* keep displaying the help dialog when hovering over it */
.header > .menu > .help:hover {
	display: block;
}

/* </help> */