:root {
	--footer-height: 7rem;
}

html, body {
	min-height: 100vh;
}

.footer {
	height: var(--footer-height);
}

.errorMessage {
	color: darkred;
}

.pageTitle {
	font-weight: bold;
	font-size: x-large;
}
